img {
    width: 50px;
    height: 50px;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chosen-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.chosen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}